.intro .swiper-container {
  width: 100%;
  min-height: 700px;
}

.intro .swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.intro__item {
  min-height: 700px;
  position: relative;
}

.intro__item img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.intro__item-title {
  font-size: 50px;
  font-weight: 300;
  color: $white;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//.intro .swiper-pagination-bullets .swiper-pagination-bullet {
//  margin: 0 7px;
//  width: 5px;
//  height: 5px;
//}

.intro .swiper-pagination-bullet-active {
  background: $white;
}

//.intro .swiper-pagination-progressbar {
//  top: inherit;
//  bottom: 0;
//}
//
//.intro .swiper-pagination-progressbar-fill {
//  background: $white;
//}

@media (max-width: 1279px) {
  .intro__item img {
    max-width: 280px;
  }

  .intro__item-title {
    font-size: 40px;
  }

  .intro .swiper-container {
    min-height: 490px;
  }

  .intro__item {
    min-height: 490px;
  }
}

@media (max-width: 767px) {
  .intro .swiper-container {
    min-height: 568px;
  }

  .intro__item {
    padding-top: 90px;
    min-height: 568px;

    img {
      left: 50%;
      transform: translateX(-50%);
      right: auto;
      max-width: none;
      max-height: 400px;
    }
  }

  .intro__item-title {
    position: static;
    transform: none;
  }

  .intro__item-title {
    text-align: center;
    font-size: 22px;
  }
}