@font-face {
  font-family: 'PFBeauSansPro';
  src: url('../fonts/PFBeauSansPro-Light.woff2') format('woff2'), url('../fonts/PFBeauSansPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PFBeauSansPro';
  src: url('../fonts/PFBeauSansPro-SemiBold.woff2') format('woff2'), url('../fonts/PFBeauSansPro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}